[submodule "src/test/resources/VexRiscvRegressionData"]
	path = src/test/resources/VexRiscvRegressionData
	url = https://github.com/SpinalHDL/VexRiscvRegressionData.git
[submodule "external/mlkem-native"]
	path = external/mlkem-native
	url = https://github.com/pq-code-package/mlkem-native
